Repository zarfld/libmedia-network-standards: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-spec-structure, standards-compliance-check, tdd-test-check, adr-format-check

Path conditions:
  validate-spec-structure: any of: ^(01-stakeholder-requirements|02-requirements|03-architecture|04-design|05-implementation/docs|07-verification-validation)/.*\.md$, but not: (?x)^(
  .*\.min\.(js|css)$|
  .*\.lock$|
  .*/node_modules/.*|
  .*/build/.*|
  .*/dist/.*|
  .*\.log$
)$

  standards-compliance-check: any of: .*\.(md|cpp|c|h|hpp|cmake|txt|yml|yaml)$, but not: (?x)^(
  .*\.min\.(js|css)$|
  .*\.lock$|
  .*/node_modules/.*|
  .*/build/.*|
  .*/dist/.*|
  .*\.log$
)$

  tdd-test-check: any of: ^05-implementation/src/.*\.(cpp|c)$, but not: (?x)^(
  .*\.min\.(js|css)$|
  .*\.lock$|
  .*/node_modules/.*|
  .*/build/.*|
  .*/dist/.*|
  .*\.log$
)$

  adr-format-check: any of: ^03-architecture/decisions/.*\.md$, but not: (?x)^(
  .*\.min\.(js|css)$|
  .*\.lock$|
  .*/node_modules/.*|
  .*/build/.*|
  .*/dist/.*|
  .*\.log$
)$


fix: Update submodule names for consistency in .gitmodules
  .gitmodules
Due: none

Implement Cross-Standard Abstraction Layer for IEEE 1588
  Common/interfaces/CMakeLists.txt
  Common/interfaces/CROSS_STANDARD_ABSTRACTION_DESIGN.md
  Common/interfaces/IIEEE1588Contract.hpp
  Common/interfaces/VERSION_COMPATIBILITY_MATRIX.md
  IEEE/1588/2019/README.md
Due: standards-compliance-check

Add SRG Model Fitting Prompt and Analysis Report Template
  .github/prompts/README-IMPROVEMENTS.md
  .github/prompts/operational-profile-create.prompt.md
  .github/prompts/reliability-plan-create.prompt.md
  .github/prompts/reliability-release-decision.prompt.md
  .github/prompts/reliability-test-design.prompt.md
  .github/prompts/requirements-complete.prompt.md
  .github/prompts/requirements-elicit.prompt.md
  .github/prompts/requirements-refine.prompt.md
  .github/prompts/requirements-validate.prompt.md
  .github/prompts/sfmea-create.prompt.md
  .github/prompts/srg-model-fit.prompt.md
Due: standards-compliance-check

feat: Add IEEE 1588 version selection and registration interface
  CMakeLists.txt
  Common/interfaces/IEEE1588Selector.hpp
Due: standards-compliance-check

feat: Implement IEEE 1588 runtime selection and testing framework
  Common/interfaces/IEEE1588Runtime.hpp
  Integration/CMakeLists.txt
  Integration/test_ieee1588_selector.cpp
Due: standards-compliance-check

feat: Add IEEE 1588 abstraction layer and update test for runtime selection
  CMakeLists.txt
  IEEE/1588/ieee_1588.hpp
  Integration/test_ieee1588_selector.cpp
Due: standards-compliance-check

chore(submodules): specify branch=main for all submodules to enable reliable remote updates
  .gitmodules
Due: none

chore(submodules): add IEEE_1588-2019 and set branch=main for all submodules
  .gitmodules
Due: none

feat(submodules): add AES submodules and correct IEEE 1588 naming
  .gitmodules
Due: none

chore(submodules): fix AES submodule branches (AES11, AES3 -> master; AES5 -> main)
  .gitmodules
Due: none

feat(standards): add AES standards submodules (AES11-2019, AES3-2009, AES5-2018) with proper branch tracking
  .gitmodules
Due: none

feat(instructions): enhance repository role with multi-standard aggregation and version abstraction guidelines
  .github/instructions/copilot-instructions.md
Due: standards-compliance-check

feat(requirements): add stakeholder and system requirements specifications for standards-aggregation library
  01-stakeholder-requirements/stakeholder-requirements.md
  02-requirements/system-requirements.md
  README.md
  lib/Standards/Common/interfaces/hal_c.h
  migration/cleanup-plan.md
Due: validate-spec-structure, standards-compliance-check
