Repository zarfld/libmedia-network-standards: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-spec-structure, standards-compliance-check, tdd-test-check, adr-format-check

Path conditions:
  validate-spec-structure: any of: ^(01-stakeholder-requirements|02-requirements|03-architecture|04-design|05-implementation/docs|07-verification-validation)/.*\.md$, but not: (?x)^(
  .*\.min\.(js|css)$|
  .*\.lock$|
  .*/node_modules/.*|
  .*/build/.*|
  .*/dist/.*|
  .*\.log$
)$

  standards-compliance-check: any of: .*\.(md|cpp|c|h|hpp|cmake|txt|yml|yaml)$, but not: (?x)^(
  .*\.min\.(js|css)$|
  .*\.lock$|
  .*/node_modules/.*|
  .*/build/.*|
  .*/dist/.*|
  .*\.log$
)$

  tdd-test-check: any of: ^05-implementation/src/.*\.(cpp|c)$, but not: (?x)^(
  .*\.min\.(js|css)$|
  .*\.lock$|
  .*/node_modules/.*|
  .*/build/.*|
  .*/dist/.*|
  .*\.log$
)$

  adr-format-check: any of: ^03-architecture/decisions/.*\.md$, but not: (?x)^(
  .*\.min\.(js|css)$|
  .*\.lock$|
  .*/node_modules/.*|
  .*/build/.*|
  .*/dist/.*|
  .*\.log$
)$


fix: Remove unnecessary whitespace in standards compliance validation script
  .github/workflows/ci-standards-compliance.yml
Due: standards-compliance-check

feat: Update architecture documentation and validation script for ISO/IEC/IEEE compliance
  03-architecture/architecture-quality-scenarios.md
  03-architecture/decisions/ADR-001-hardware-abstraction-interfaces.md
  03-architecture/decisions/ADR-002-ieee-standards-layering.md
  03-architecture/phase00-cross-standard-architecture-foundation.md
  03-architecture/phase00-gate-validation-report.md
  03-architecture/views/cross-standard-architecture-views.md
  04-design/components/ieee-1588-2019-management-design.md
  Scripts/validate-spec-structure.py
Due: validate-spec-structure, standards-compliance-check, adr-format-check

feat: Enforce YAML front matter schema compliance across specifications and update standard references
  .github/instructions/copilot-instructions.md
  02-requirements/.github/copilot-instructions.md
  03-architecture/.github/copilot-instructions.md
  03-architecture/phase00-cross-standard-architecture-foundation.md
  03-architecture/phase00-gate-validation-report.md
  03-architecture/views/cross-standard-architecture-views.md
  04-design/.github/copilot-instructions.md
  04-design/components/ieee-1588-2019-management-design.md
  spec-kit-templates/architecture-spec.md
  spec-kit-templates/requirements-spec.md
Due: validate-spec-structure, standards-compliance-check

feat: Add user stories for AES3, AES5, AES60ID, AES67, AES70, cross-standards integration, LLDP, and gPTP requirements
  02-requirements/functional/aes3-2009-digital-audio-interface-requirements.md
  02-requirements/functional/aes5-2018-preferred-sampling-frequencies-requirements.md
  02-requirements/functional/aes60id-2020-object-based-audio-requirements.md
  02-requirements/functional/aes67-2018-audio-over-ip-requirements.md
  02-requirements/functional/aes70-2018-open-control-architecture-requirements.md
  02-requirements/functional/cross-standards-architecture-integration-requirements.md
  02-requirements/functional/ieee-802-1ab-2016-lldp-discovery-requirements.md
  02-requirements/functional/ieee-802-1as-2020-gptp-timing-requirements.md
Due: validate-spec-structure, standards-compliance-check

feat: Add user stories for IEEE 802.1AX, IEEE 802.1Q, and IEEE 802.1X requirements to enhance clarity and user perspective
  02-requirements/functional/ieee-802-1ax-2020-link-aggregation-requirements.md
  02-requirements/functional/ieee-802-1q-2022-bridges-bridged-networks-requirements.md
  02-requirements/functional/ieee-802-1x-2020-authentication-requirements.md
Due: validate-spec-structure, standards-compliance-check

feat: Enhance architecture documentation with consequences analysis and new logical views for hardware abstraction and deployment patterns
  03-architecture/decisions/ADR-001-hardware-abstraction-interfaces.md
  03-architecture/decisions/ADR-002-ieee-standards-layering.md
  03-architecture/views/development/README.md
  03-architecture/views/logical/hardware-abstraction-logical-view.md
  03-architecture/views/physical/README.md
  03-architecture/views/process/README.md
Due: validate-spec-structure, standards-compliance-check, adr-format-check

feat: Add hardware-agnostic data view and deployment patterns documentation for vendor independence
  03-architecture/views/data/README.md
  03-architecture/views/physical/hardware-agnostic-deployment-view.md
Due: validate-spec-structure, standards-compliance-check

Fix architecture compliance: Add missing view directories and documentation
  03-architecture/views/data/hardware-agnostic-data-architecture.md
Due: validate-spec-structure, standards-compliance-check

Fix spec validation failures: Add YAML front matter and correct requirement IDs
  03-architecture/views/data/hardware-agnostic-data-architecture.md
  03-architecture/views/logical/hardware-abstraction-logical-view.md
  03-architecture/views/physical/hardware-agnostic-deployment-view.md
Due: validate-spec-structure, standards-compliance-check

Generate comprehensive IEEE 802.1AS-2021 gPTP architecture using architecture-starter methodology
  03-architecture/decisions/ADR-003-ieee-802-1as-multi-domain-architecture.md
  03-architecture/decisions/ADR-004-ieee-802-1as-path-delay-architecture.md
  03-architecture/views/ieee-802-1as-2021-gptp-architecture-spec.md
  03-architecture/views/ieee-802-1as-2021-technology-stack.md
Due: validate-spec-structure, standards-compliance-check, adr-format-check

feat(architecture): Add comprehensive IEEE 1722-2016 AVTP architecture
  03-architecture/decisions/ADR-005-ieee-1722-avtp-transport-architecture.md
  03-architecture/decisions/ADR-006-ieee-1722-hardware-abstraction-pattern.md
  03-architecture/ieee-1722-2016-avtp-architecture-spec.md
  03-architecture/ieee-1722-2016-technology-stack.md
Due: validate-spec-structure, standards-compliance-check, adr-format-check

Fix YAML front matter schema compliance for IEEE 1722-2016 AVTP architecture
  03-architecture/ieee-1722-2016-avtp-architecture-spec.md
Due: validate-spec-structure, standards-compliance-check

Fix schema validation: standard field and date format
  03-architecture/ieee-1722-2016-avtp-architecture-spec.md
Due: validate-spec-structure, standards-compliance-check

Fix all architecture schema violations: standard field format
  03-architecture/decisions/ADR-003-ieee-802-1as-multi-domain-architecture.md
  03-architecture/decisions/ADR-004-ieee-802-1as-path-delay-architecture.md
  03-architecture/views/data/hardware-agnostic-data-architecture.md
  03-architecture/views/ieee-802-1as-2021-gptp-architecture-spec.md
  03-architecture/views/ieee-802-1as-2021-technology-stack.md
  03-architecture/views/physical/hardware-agnostic-deployment-view.md
Due: validate-spec-structure, standards-compliance-check, adr-format-check

Fix requirement ID patterns in ADRs and technology stack
  03-architecture/decisions/ADR-003-ieee-802-1as-multi-domain-architecture.md
  03-architecture/decisions/ADR-004-ieee-802-1as-path-delay-architecture.md
  03-architecture/views/ieee-802-1as-2021-technology-stack.md
Due: validate-spec-structure, standards-compliance-check, adr-format-check

Fix requirement IDs to comply with schema ^REQ-(F|NF)-[0-9]{3}$
  03-architecture/decisions/ADR-001-hardware-abstraction-interfaces.md
  03-architecture/decisions/ADR-002-ieee-standards-layering.md
  03-architecture/decisions/ADR-003-ieee-802-1as-multi-domain-architecture.md
  03-architecture/decisions/ADR-004-ieee-802-1as-path-delay-architecture.md
Due: validate-spec-structure, standards-compliance-check, adr-format-check

Fix remaining CI validation failures: Add missing YAML front matter and architectural viewpoints
  03-architecture/decisions/ADR-003-ieee-802-1as-multi-domain-architecture.md
  03-architecture/decisions/ADR-004-ieee-802-1as-path-delay-architecture.md
  03-architecture/decisions/ADR-005-ieee-1722-avtp-transport-architecture.md
  03-architecture/decisions/ADR-006-ieee-1722-hardware-abstraction-pattern.md
  03-architecture/ieee-1722-2016-technology-stack.md
  03-architecture/views/ieee-802-1as-2021-technology-stack.md
Due: validate-spec-structure, standards-compliance-check, adr-format-check

Fix final CI validation issues: Add missing ADR references and architectural viewpoints
  03-architecture/decisions/ADR-006-ieee-1722-hardware-abstraction-pattern.md
  03-architecture/ieee-1722-2016-technology-stack.md
Due: validate-spec-structure, standards-compliance-check, adr-format-check

Complete IEEE 1722.1-2021 AVDECC architecture specification
  03-architecture/decisions/ADR-007-ieee-1722-1-avdecc-entity-model-architecture.md
  03-architecture/decisions/ADR-008-ieee-1722-1-protocol-state-machine-architecture.md
  03-architecture/decisions/ADR-009-milan-professional-audio-integration.md
  03-architecture/ieee-1722-1-2021-avdecc-technology-stack.md
  03-architecture/views/ieee-1722-1-2021-avdecc-architecture-spec.md
Due: validate-spec-structure, standards-compliance-check, adr-format-check

Add architecture and technology stack specifications for IEEE 1588-2019 PTP v2.1
  03-architecture/decisions/ADR-013-ieee-1588-2019-multi-layered-architecture.md
  03-architecture/ieee-1588-2019-ptpv2-architecture-spec.md
  03-architecture/ieee-1588-2019-ptpv2-technology-stack.md
Due: validate-spec-structure, standards-compliance-check, adr-format-check

Fix spec schema validation: Update YAML front matter to use correct requirement ID patterns
  03-architecture/decisions/ADR-013-ieee-1588-2019-multi-layered-architecture.md
  03-architecture/ieee-1588-2019-ptpv2-architecture-spec.md
  03-architecture/ieee-1588-2019-ptpv2-technology-stack.md
Due: validate-spec-structure, standards-compliance-check, adr-format-check

Update requirement IDs in architecture documents for IEEE 1588-2019 compliance
  03-architecture/decisions/ADR-013-ieee-1588-2019-multi-layered-architecture.md
  03-architecture/ieee-1588-2019-ptpv2-architecture-spec.md
  03-architecture/ieee-1588-2019-ptpv2-technology-stack.md
Due: validate-spec-structure, standards-compliance-check, adr-format-check

Update traceability matrix and schema for requirements
  03-architecture/decisions/ADR-013-ieee-1588-2019-multi-layered-architecture.md
  03-architecture/ieee-1588-2019-ptpv2-architecture-spec.md
  03-architecture/ieee-1588-2019-ptpv2-technology-stack.md
  03-architecture/ieee-1722-2016-avtp-architecture-spec.md
  Scripts/Manage-RequirementIDs-PS.ps1
  Scripts/Manage-RequirementIDs.ps1
  Scripts/requirement-id-registry.json
  Scripts/requirements-id-registry.py
  Scripts/validate-yaml-frontmatter.py
  reports/orphans.md
  reports/traceability-matrix.md
  spec-kit-templates/schemas/architecture-spec.schema.json
Due: validate-spec-structure, standards-compliance-check, adr-format-check

feat: Implement comprehensive traceability infrastructure safety report and validation mechanisms
  CREATION_ENFORCEMENT_SUMMARY.md
  Scripts/demo-creation-enforcement.py
  Scripts/enforce-creation-traceability.py
  Scripts/enforce-traceability.py
  Scripts/pre-commit-traceability.py
  Scripts/validate-traceability-safety.py
  reports/TRACEABILITY_INFRASTRUCTURE_SAFETY_REPORT.md
  reports/traceability-safety-report.md
  reports/traceability-safety-validation.md
  temp_bad_requirement.md
  temp_good_requirement.md
  temp_new_adr.md
  temp_new_requirement.md
  temp_new_test.md
Due: standards-compliance-check

feat: Add CI-safe migration infrastructure for gradual traceability enforcement
  .github/migration_mode.env
  .github/workflows/ci-standards-compliance.yml
  Scripts/ci-safe-migration.py
  migration/ci_migration_validator.py
Due: standards-compliance-check

feat: Add migration plan and status report for traceability enforcement
  migration/migration_plan.json
  migration/status_report.md
Due: standards-compliance-check

fix: Update metadata formatting in architecture documents for consistency
  03-architecture/components/ieee-1588-2019-hal-architecture.md
  03-architecture/components/ieee-1588-2019-management-architecture.md
  03-architecture/components/ieee-1588-2019-multi-domain-architecture.md
  03-architecture/components/ieee-1588-2019-security-architecture.md
Due: validate-spec-structure, standards-compliance-check

feat: Standardize architecture component metadata and enhance traceability for IEEE 1588-2019 documents
  03-architecture/components/ieee-1588-2019-management-architecture.md
  03-architecture/components/ieee-1588-2019-multi-domain-architecture.md
  03-architecture/components/ieee-1588-2019-security-architecture.md
Due: validate-spec-structure, standards-compliance-check

Add IEEE 1588-2019 Phase 03 Standard-Specific Architecture Documentation
  03-architecture/decisions/ADR-003-ieee-1588-2019-implementation-strategy.md
  03-architecture/views/current-architecture-modernization-spec.md
  03-architecture/views/ieee-1588-2019-gap-analysis-integration-architecture.md
  03-architecture/views/ieee-1588-2019-missing-components-architecture.md
  03-architecture/views/ieee-1588-2019-phase-03-standard-specific-architecture.md
  lib/Standards/IEEE/1588/2019/interfaces/ieee_1588_2019_clock_interface.h
  lib/Standards/IEEE/1588/2019/interfaces/ieee_1588_2019_network_interface.h
Due: validate-spec-structure, standards-compliance-check, adr-format-check

feat: Add Phase 03 Architecture Gate Evaluation for IEEE 1588-2019 Implementation
  03-architecture/phase-gate-03-04-ieee-1588-2019-evaluation.md
Due: validate-spec-structure, standards-compliance-check

Add comprehensive architecture specification for IEEE 802.1AS-2021 gPTP
  03-architecture/views/ieee-1722-1-2021-comprehensive-architecture.md
  03-architecture/views/ieee-1722-2016-comprehensive-architecture.md
  03-architecture/views/ieee-802-1as-2021-comprehensive-architecture.md
Due: validate-spec-structure, standards-compliance-check

Implement feature X to enhance user experience and fix bug Y in module Z
  03-architecture/ieee-cross-standard-integration-comprehensive-architecture.md
Due: validate-spec-structure, standards-compliance-check

feat: Add specification document template generator and targeted spec validator
  .github/workflows/automated-spec-compliance.yml
  02-requirements/functional/ieee-1722-performance-real-template.md
  02-requirements/functional/ieee-1722-performance-template.md
  02-requirements/functional/test-perfect-gen.md
  Scripts/autofix-spec-compliance.py
  Scripts/bulk-protection-guard.py
  Scripts/pre-commit-spec-compliance.py
  Scripts/realtime-validator.py
  Scripts/specification-document-template-generator.py
  Scripts/targeted-spec-validator.py
Due: validate-spec-structure, standards-compliance-check

Fix CI Pipeline: Add proper YAML front matter to architecture spec
  .github/workflows/automated-spec-compliance.yml
  03-architecture/ieee-cross-standard-integration-comprehensive-architecture.md
  Scripts/autofix-spec-compliance.py
Due: validate-spec-structure, standards-compliance-check

refactor: Standardize formatting and improve readability in automated spec compliance workflow
  02-requirements/functional/ieee-1722-performance-real-template.md
  02-requirements/functional/ieee-1722-performance-template.md
  02-requirements/functional/test-perfect-gen.md
  03-architecture/components/ieee-1588-2019-security-architecture.md
  03-architecture/decisions/ADR-003-ieee-1588-2019-implementation-strategy.md
  03-architecture/decisions/avdecc-protocol-selection.md
  03-architecture/views/current-architecture-modernization-spec.md
  03-architecture/views/ieee-1588-2019-gap-analysis-integration-architecture.md
  03-architecture/views/ieee-1588-2019-phase-03-standard-specific-architecture.md
  03-architecture/views/ieee-1722-1-2021-comprehensive-architecture.md
  03-architecture/views/ieee-1722-2016-comprehensive-architecture.md
  03-architecture/views/ieee-802-1as-2021-comprehensive-architecture.md
  Scripts/bulk-fix-validation-failures.py
  Scripts/simple-bulk-fix.py
  Scripts/specification-document-template-generator.py
  reports/orphans.md
  reports/traceability-matrix.md
Due: validate-spec-structure, standards-compliance-check, adr-format-check

feat: Enhance traceability in architecture files by adding requirements based on content analysis
  03-architecture/components/ieee-1588-2019-management-architecture.md
  03-architecture/components/ieee-1588-2019-security-architecture.md
  03-architecture/decisions/ADR-003-ieee-1588-2019-implementation-strategy.md
  03-architecture/decisions/avdecc-protocol-selection.md
  03-architecture/views/current-architecture-modernization-spec.md
  03-architecture/views/ieee-1588-2019-gap-analysis-integration-architecture.md
  03-architecture/views/ieee-1588-2019-phase-03-standard-specific-architecture.md
  03-architecture/views/ieee-1722-1-2021-comprehensive-architecture.md
  03-architecture/views/ieee-1722-2016-comprehensive-architecture.md
  03-architecture/views/ieee-802-1as-2021-comprehensive-architecture.md
  Scripts/intelligent-requirements-mapping.py
  Scripts/real-requirements-discovery.py
  reports/orphans.md
  reports/traceability-matrix.md
Due: validate-spec-structure, standards-compliance-check, adr-format-check

Convert AVnu Milan to submodules - Added Milan 1.2-2023 and 2.0a-2023
  .gitmodules
  AVnu/Milan/1.2-2023/AVnu_Milan_1_2-2023.h
  AVnu/Milan/1.2-2023/AVnu_Milan_1_2-2023_complete.cpp
  AVnu/Milan/1.2-2023/AVnu_Milan_1_2-2023_complete.h
  AVnu/Milan/1.2-2023/CMakeLists.txt
  AVnu/Milan/1.2-2023/milan_1_2_2023_test.cpp
  AVnu/Milan/2.0a-2023/AVnu_Milan_2_0a-2023.h
  AVnu/Milan/2.0a-2023/CMakeLists.txt
Due: standards-compliance-check

fix: Update submodule name and URL for Milan 2.0a specification
  .gitmodules
Due: none
